In [1]:
import pandas as pd
import numpy as np

# series

1. creating using list.

In [2]:
lst=[1,2,34,5,"kamal"]

In [3]:
ds=pd.Series(lst)
ds

0        1
1        2
2       34
3        5
4    kamal
dtype: object

2. Changing the index.

In [4]:
ds1=pd.Series([1,2.4,"@","kamal"], index=["a","b","c","d"])
ds1

a        1
b      2.4
c        @
d    kamal
dtype: object

3. Creating by null Series.

In [5]:
empty=pd.Series([])
empty

C:\Users\amanm\AppData\Local\Temp/ipykernel_5208/1789121482.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty=pd.Series([])

Series([], dtype: float64)

4. Creating by Dictionary.

In [6]:
dict={"a":1,"b":2}
ds2=pd.Series(dict)
ds2

a    1
b    2
dtype: int64

5. Change the Data type.

In [7]:
dict={"a":1,"b":2}
ds2=pd.Series(dict, dtype=float)
ds2

a    1.0
b    2.0
dtype: float64

6. Accessing by index.

In [8]:
dict["a"]

1

# DataFrame

1.Creating DataFrame by list of list

In [9]:
ls_of_ls=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
df=pd.DataFrame(ls_of_ls)
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

2. Creating DataFrame by Dictionary

In [10]:
dict={"Name":["Kamal","Ali","John","Harman"],"Roll No.":[1,2,3,4],"Courses":["CS","MI","DS","DA"]}
df1=pd.DataFrame(dict)
df1

     Name  Roll No. Courses
0   Kamal         1      CS
1     Ali         2      MI
2    John         3      DS
3  Harman         4      DA

3. Creating by list of dictionary

In [11]:
lst_dict=[{"a":1,"b":2},{"c":3,"d":4}]
df2=pd.DataFrame(lst_dict)
df2

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  NaN  3.0  4.0

4. Creating by Dictionary of Series

In [12]:
dict_sr={"ID":pd.Series([1,2,3]),"SN":pd.Series([100,200,300])}
df3=pd.DataFrame(dict_sr)
df3

   ID   SN
0   1  100
1   2  200
2   3  300

5. Creating by  two-dimensional NumPy array

In [13]:
pd.DataFrame(np.random.rand(3, 2),
 columns=['x', 'y'],
 index=['a', 'b', 'c'])

          x         y
a  0.892392  0.063395
b  0.246768  0.561819
c  0.090850  0.314604